@inherits LayoutComponentBase
@using PicoPlus.Components.Shared

<link href="/css/toast.css" rel="stylesheet" />

<div class="container-fluid py-2 d-flex justify-content-end">
    <CultureSwitcher />
</div>

<div class="page">
    @Body
</div>

<ToastContainer />