@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PicoPlus1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" @onclick="CloseDropdown">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ثبت سریع سفارش
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <div class="dropdown @(isDropdownOpen ? "show" : "")">
                <a class="nav-link dropdown-toggle" href="#" @onclick="ToggleDropdown" @onclick:stopPropagation="true" @onclick:preventDefault="true" aria-expanded="@isDropdownOpen">
                    معاملات
                </a>
                <ul class="dropdown-menu @(isDropdownOpen ? "show" : "")" style="@(isDropdownOpen ? "position: relative;" : "")" @onclick:stopPropagation="true">
                    <li>
                        <NavLink class="dropdown-item" href="/Deal/Create" @onclick="CloseDropdown">ثبت سریع سفارش</NavLink>
                    </li>
                    <li>
                        <NavLink class="dropdown-item" href="/Deal/Search" @onclick="CloseDropdown">جستجوی معاملات</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private void CloseDropdown()
    {
        if (isDropdownOpen)
        {
            isDropdownOpen = false;
        }
    }
}
