@using PicoPlus.State.UserPanel

<div class="row g-3 mb-4">
    <div class="col-lg-3 col-md-6">
        <StatisticsCard Label="مبلغ کل" Value="@Statistics.TotalRevenue" Unit="تومان" IconClass="bi-graph-up-arrow" />
    </div>
    <div class="col-lg-3 col-md-6">
        <StatisticsCard Label="معاملات باز" Value="@Statistics.OpenDeals" Unit="عدد" IconClass="bi-hourglass-split" />
    </div>
    <div class="col-lg-3 col-md-6">
        <StatisticsCard Label="معاملات بسته شده" Value="@Statistics.ClosedDeals" Unit="عدد" IconClass="bi-check-circle" />
    </div>
    <div class="col-lg-3 col-md-6">
        <StatisticsCard Label="کیف پول" Value="@WalletBalance" Unit="تومان" IconClass="bi-wallet2" />
    </div>
</div>

@code {
    [Parameter, EditorRequired] public UserStatistics Statistics { get; set; } = new();
    [Parameter] public decimal WalletBalance { get; set; }
}
