@using PicoPlus.Features.UserHome.Application.DTOs

<div class="dark-card">
    <div class="dark-card-header"><h5>اطلاعات کاربر</h5></div>
    <div class="dark-card-body">
        @if (Data is null)
        {
            <div class="empty-state-dark">اطلاعاتی یافت نشد.</div>
        }
        else
        {
            <div class="row g-3">
                <div class="col-md-6"><label class="dark-label">نام</label><input class="dark-input" readonly value="@Data.Profile.FirstName" /></div>
                <div class="col-md-6"><label class="dark-label">نام خانوادگی</label><input class="dark-input" readonly value="@Data.Profile.LastName" /></div>
                <div class="col-md-6"><label class="dark-label">کد ملی</label><input class="dark-input" readonly value="@Data.Profile.NationalCode" /></div>
                <div class="col-md-6">
                    <label class="dark-label">موبایل</label>
                    <div class="d-flex gap-2">
                        <input class="dark-input flex-grow-1" readonly value="@Data.Profile.Phone" />
                        <button type="button" class="btn btn-outline-info" @onclick="OnEditMobile">ویرایش</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter] public UserHomeDto? Data { get; set; }
    [Parameter] public EventCallback OnEditMobile { get; set; }
}
