name: .NET Deploy to Liara

on:
  push:
    branches:
      - master  # یا هر برنچی که می‌خوای deploy بشه

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish -c Release -o out

      - name: Deploy to Liara
        env:
          LIARA_API_TOKEN: ${{ secrets.LIARA_API_TOKEN }}
        run: |
          curl -fsSL https://cdn.liara.ir/cli/install.sh | bash
          liara deploy --api-token $LIARA_API_TOKEN --app picoplus --port 5000 --path out --no-app-logs
